
    <div class="detail">
        
    <h3>Farmer Detail</h3>

        <table>
            <tr>
                <td>
                    <mat-card-subtitle><b>Name</b></mat-card-subtitle>
                </td>
                <td>
                    <mat-card-content >{{farmer.farmerName}}</mat-card-content>
                </td>
                
            </tr>
            <tr>
                <td>
                    <mat-card-subtitle><b>Gender</b></mat-card-subtitle>
                </td>
                <td>
                    <mat-card-content>{{farmer.farmerGender}}</mat-card-content>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-card-subtitle><b>Phone number</b></mat-card-subtitle>
                </td>
                <td >
                    <mat-card-content>{{farmer.farmerPhone}}</mat-card-content>
                </td>
                
            </tr>
            <tr>
                <td>
                    <mat-card-subtitle><b>Email Id</b></mat-card-subtitle>
                </td>
                <td >
                    <mat-card-content>{{farmer.farmerEmail}}</mat-card-content>
                </td>
            </tr>
        </table>

   
        
        
        
    </div>