<h2>Product List</h2>
    <hr>
<div class="home">
    
    <mat-card class="example-card" *ngFor="let product of farmerproducts; let i = index">
        <form>
        <div class="detail">
            
        

            <table>
                <tr>
                    <td>
                        <mat-card-subtitle><b>Name</b></mat-card-subtitle>
                    </td>
                    <td>
                        <mat-card-content >{{product.productName}}</mat-card-content>
                    </td>
                    <td>
                        <mat-card-subtitle><b>Type</b></mat-card-subtitle>
                    </td>
                    <td>
                        <mat-card-content>{{product.productType}}</mat-card-content>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-card-subtitle><b>Price</b></mat-card-subtitle>
                    </td>
                    <td colspan="2">
                        <mat-card-content>{{product.productPrice | currency:"INR"}}</mat-card-content>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-card-subtitle><b>Location</b></mat-card-subtitle>
                    </td>
                    <td colspan="3">
                        <mat-card-content>{{product.location}}</mat-card-content>
                    </td>
                </tr>
            </table>

       
            
            
            
        </div>
        <hr/>
        <button class="btn1" (click)="edit(i)" mat-raised-button color="primary">Edit</button>
        <button class="btn2" (click)="delete(i)" mat-raised-button color="warn">Delete</button>
    
    </form>
    </mat-card>
    <button mat-fab color="accent" (click)="add()" class="text-light add" aria-label="Example icon button with a bookmark icon">
        <mat-icon>add</mat-icon>
      </button>

</div>