.header{
    background-color: #072742;
    box-shadow: 1px 8px 12px #cecbcbc2;
    border-radius: 2px;
}

img{
    width: 80px;
}

.companylogo
{
    width: 14%;
    margin-left: 5%;
    display: flex;

}

ul{
    display: flex;
    position: absolute;
    left: 85%;
    top:3%;
    color: #3186b8;
}

ul li{
    padding: 3px;
    list-style: none;
    margin: 2px 7px;

}

a{
    color: white;
    text-decoration: none;
}

.companylogo h2
{
    float: right;
    margin-top: 12%;
    background-image: linear-gradient(60deg, 
    #c9ad0f , #af0d71);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .header button{
    float: right;
    margin: 40px 50px;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #264f85;
    color: white;
    cursor: pointer;
} */

.btn
{
    position: absolute;
    width: 7%;
    left: 90%;
    top:3%;
    border:1px solid ;
    color: #3186b8;

    
}

.btn:hover{
    background-color: #3186b8;
    border: 1px solid;
    color: white;
}