<div class="status">

    <div *ngIf="true" class="success">
        <img width="120px" src="https://www.freeiconspng.com/thumbs/success-icon/success-icon-10.png">
        <br/>
        <br/>
        <h2>Congratulation!!!! Your order is booked</h2>
        <button mat-raised-button routerLink="../order" color="warn">Your Order</button>
        <button mat-raised-button routerLink="../dashboard"color="primary">Buy again</button>
    </div>
    <!-- <div *ngIf="true" class="fail">
        <img width="120px" src="https://icon-library.com/images/failed-icon/failed-icon-7.jpg">
        <br/>
        <br/>
        <h2>OOPs!!!! Transaction failed....</h2>
        <button mat-raised-button color="warn">Your Order</button>
        <button mat-raised-button color="primary">Buy again</button>
    </div> -->
</div>